<div *ngIf="member" class=" shadow-2xl mb-4">
  <div class="card-body pb-0">
    <div class="row align-items-center mb-1">
      <div class="col-md-4 text-center">
        <img
          *ngIf="member.memberImagePath"
          [src]="member.memberImagePath"
          alt="Profile Image"
          class="img-fluid rounded-circle shadow-2xl mb-3 profile-image"
          style="max-width: 100px; height: 100px"
        />
        <p *ngIf="!member.memberImagePath" class="text-muted">
          <i class="pi pi-image"></i> No profile image available.
        </p>
      </div>
      <div class="col-md-8 text-start">
        <h4 class="text-primary">
          {{ member.firstname }} {{ member.lastname }}
        </h4>
        <p class="text-muted">Age: {{ member.age }} | {{ member.gender }}</p>
      </div>
    </div>

    <!-- Member Info Section -->

    <!-- Email & Phone Row -->
    <div class="row">
      <!-- Email -->
      <div class="col-md-12 border-bottom pb-2">
        <div class="d-flex justify-content-between align-items-center">
          <strong>Email:</strong>
          <span class="text-dark">{{ member.email }}</span>
        </div>
      </div>

      <!-- Phone Number -->
      <div class="col-md-12 border-bottom pt-3 pb-2">
        <div class="d-flex justify-content-between align-items-center">
          <strong>Phone Number:</strong>
          <span class="text-dark">{{ member.phoneNumber }}</span>
        </div>
      </div>

      <!-- Subscription Plan -->
      <div class="col-md-12 border-bottom pt-3 pb-2">
        <div class="d-flex justify-content-between align-items-center">
          <strong>Subscription Plan:</strong>
          <span class="text-dark">{{ member.subscriptionPlanId }}</span>
        </div>
      </div>

      <!-- Joining Date -->
      <div class="col-md-12 border-bottom pt-3 pb-2">
        <div class="d-flex justify-content-between align-items-center">
          <strong>Joining Date:</strong>
          <span class="text-dark">{{ member.joiningDate | date : "yyyy-MM-dd" }}</span>
        </div>
      </div>

      <!-- Status Section -->
      <div class="col-md-12 pt-3 pb-2">
        <div class="d-flex justify-content-between align-items-center">
          <strong>Status:</strong>
          <span
            class="badge"
            [ngClass]="member.isActive ? 'bg-danger' : 'bg-success'"
          >
            <i
              class="pi"
              [ngClass]="
                member.isActive ? 'pi-times-circle' : 'pi-check-circle'
              "
            ></i>
            {{ member.isActive ? "Inactive" : "Active" }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
