<div *ngIf="plan" class="shadow-2xl mb-4">
  <div class="card-body pb-0">
    <div class="row align-items-center mb-1">
      <div class="col-md-12 text-start">
        <h4 class="text-primary">
          {{ plan.planName }}
        </h4>
        <p class="text-muted">Plan Duration: {{ plan.planDuration }}</p>
      </div>
    </div>

    <!-- Plan Info Section -->
    <div class="row">
      <!-- Price -->
      <div class="col-md-12 border-bottom pb-2">
        <div class="d-flex justify-content-between align-items-center">
          <strong>Price:</strong>
          <span class="text-dark">{{ plan.planPrice | currency }}</span>
        </div>
      </div>

      <!-- Description -->
      <div class="col-md-12 border-bottom pt-3 pb-2">
        <div class="d-flex justify-content-between align-items-center">
          <strong>Description:</strong>
          <span class="text-dark">{{ plan.description }}</span>
        </div>
      </div>

      <!-- Status -->
      <div class="col-md-12 pt-3 pb-2">
        <div class="d-flex justify-content-between align-items-center">
          <strong>Status:</strong>
          <span
            class="badge"
            [ngClass]="plan.isActive ? 'bg-danger' : 'bg-success'"
          >
            <i
              class="pi"
              [ngClass]="
                plan.isActive ? 'pi-times-circle' : 'pi-check-circle'
              "
            ></i>
            {{ plan.isActive ? "Inactive" : "Active" }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
