::ng-deep .center-header .p-datatable thead > tr > th {
    text-align: start !important;
  }
  ::ng-deep .center-header .p-datatable thead > tr > th,
  ::ng-deep .center-header .p-datatable tbody > tr > td {
    text-align: start !important;
  }
  .ellipsis {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
  }
  